@import "bootstrap";
@import "mixin";
@import "vpr";
@import "vpr-svg";
@import "ionicons";

h1 {
    font-size: 48px;
    margin-bottom: 30px;
    @media (min-width: $laptop) {
        font-size: 55px;
    }
    @media (min-width: $tablet) {
        font-size: 36px;
    }
    @media (max-width: $tablet) {
        font-size: 32px;
    }
}

.intro_copy {
    margin-bottom: 40px;
    p {
        font-size: 1.45em;
        font-weight: 400;
        line-height: 1.3em;
        color: darken($gray, 10%);
        @media (max-width: $tablet) {
            font-size: 1.3em;
        }
    }
    span.stronger {
        font-weight: 700;
        color: lighten($red, 5%);
        a {
            color: inherit !important;
            border-color: lighten($red, 38%);
            &:hover {
                color: lighten($blue, 10%) !important;
            }
        }
    }
}

.vermont, .northern_new_england, .nation {
    h3 {
        font-size: 2.5em;
        margin-bottom: 20px;
        @media (max-width: $laptop) {
            font-size: 2em;
        }
    }
    div.section_explanation {
        margin-bottom: 30px;
        p {
            font-size: 20px;
            @media (max-width: $tablet) {
                font-size: 1.3em;
            }
            font-weight: 400;
            color: darken($gray, 10%);
            strong {
                color: lighten($black, 10%);
            }
        }
    }
    p.download_data {
        margin-top: 20px;
        text-align: right;
        color: lighten($gray, 10%);
    }
    h4.title {
        text-align: center;
        font-weight: 500;
        font-size: 2em;
        margin-bottom: 20px;
    }
}

.vermont {
    img.vt-small-mult {
        margin: 0 auto;
    }
    p.data_disclaimer {
        text-align: right;
        font-size: 14px;
        color: #999;
    }
}

.northern_new_england {
    svg.chart {
        display: block;
        margin: 0 auto 10px;
        .bar {
            fill: steelblue;
        }

        .axis text {
            font: 10px sans-serif;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .x.axis path {
            display: none;
        }
    }
    h4.chart_label {
        text-align: center;
        padding-left: 45px;
    }
    h4.table_label {
        margin-bottom: 30px;
        text-align: center;
    }
    table {
        font-size: 13px;
        @media (min-width: $big-screen), (min-width: $phone) and (max-width: $tablet) {
            font-size: 16px;
        }
        @media (min-width: $tablet) and (max-width: $laptop) {
            font-size: 18px;
        }
        @media (max-width: $phone) {
            font-size: 11px;
        }
        td {
            text-align: right;
        }
        td:first-child {
            text-align: left;
        }
        margin-bottom: 3px;
    }
    .table_disclaimer {
        font-size: 12px;
        color: lighten($gray, 10%);
        padding-left: 5px;
        margin-bottom: 30px;
    }
    .definitions {
        h5 {
            font-size: 18px;
        }
        h6 {
            margin-bottom: 0;
        }
        p {
            margin-top: 0;
            color: $gray;
        }
    }
    div.chart_prompt {
        width: 100%;
        padding: 15px;
        @media (max-width: $tablet) {
            margin-bottom: 30px;
        }
        @media (min-width: $laptop) {
            margin-left: 25px;
        }
        p.choose_region {
            font-weight: 500;
            font-size: 16px;
        }
        div.chart_selector button.btn {
            @media (max-width: $phone) {
                font-size: 10px;
                padding: 5px 8px;
            }
        }
    }
    hr.visible_touch {
        @media (min-width: $laptop) {
            display: none;
        }
    }
    button.active {
        background: lighten($orange, 10%);
    }
}

.nation {
    h4 {
        text-align: center;
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 24px;
        color: darken($gray, 20%);
    }
    margin-bottom: 40px;
}

.data_disclaimer {
    font-size: 16px;
    margin-bottom: 30px;
    h3 {
        color: darken($gray, 10%);
    }
    p {
        color: $gray;
    }
}
