//@import "bootstrap";
@import "mixin";
@import "vpr";
@import "vpr-svg";
@import "ionicons";

h1 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 30px;
}

blockquote {
    padding-top: 0;
    padding-bottom: 0;
    h3 {
        font-size: 32px;
        margin-top: 0;
    }
}

.intro_copy {
    p {
        font-size: 1.45em;
        font-weight: 400;
        line-height: 1.3em;
        color: darken($gray, 10%);
    }
    span.stronger {
        font-weight: 700;
        color: darken($orange, 0%);
        a {
            color: inherit !important;
            border-color: lighten($orange, 35%);
            &:hover {
                color: lighten($blue, 10%) !important;
            }
        }
    }
}

.vermont, .northern_new_england, .nation {
    h3 {
        text-align: center;
        font-size: 2em;
        margin-bottom: 20px;
    }
    p.section_explanation {
        font-size: 20px;
        font-weight: 400;
        color: darken($gray, 10%);
        strong {
            color: lighten($black, 10%);
        }
    }
}

.vermont {
    img.vt-small-mult {
        margin: 0 auto;
    }
}

.northern_new_england {
    svg.chart {
        display: block;
        margin: 0 auto;
        .bar {
            fill: steelblue;
        }

        .axis text {
            font: 10px sans-serif;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .x.axis path {
            display: none;
        }
    }
    table {
        td {
            text-align: right;
        }
        td:first-child {
            text-align: left;
        }
        margin-bottom: 3px;
    }
    .table_disclaimer {
        font-size: 12px;
        color: lighten($gray, 10%);
        padding-left: 5px;
    }
}

.nation {
    h4 {
        text-align: center;
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 24px;
        color: darken($gray, 20%);
    }
    margin-bottom: 40px;
}

