{% extends "base.html" %}

{% block title %}{{ page_title }} | VPR{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Lyme On The Rise:<br class="visible-xs" /> A Look At The Numbers</h1>
        </div>
    </div>
    <div class="row">
        <div class="intro_copy col-md-8">
            <p>Forty years ago Lyme Disease didn't even have a name. Today, the tick-borne disease <span class="stronger">infects up to <a href="http://www.cdc.gov/media/releases/2013/p0819-lyme-disease.html" alt="Link to CDC press release containing infection estimates">300,000 people annually</a> and has greatly expanded its range</span> beyond the small Connecticut town where it was first identified in 1975. While the data doesn't go that far back, the numbers from the last 15 years paint a disconcerting picture of a disease on the rise.</p>
            <p>The story of the growth of Lyme Disease is really the story of the deer tick, the primary vector for the disease and the beneficiary of a <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2582486/" alt="link between climate change and lyme disease expansion">warming climate</a> and <a href="http://www.nsf.gov/news/special_reports/ecoinf/lyme.jsp" alt="National Science Foundation resource illustrating the connection between forest fragmentation and lyme disease incidence">increasingly fragmented forests</a>. Where the deer tick and its <a href="http://www.cdc.gov/ticks/geographic_distribution.html#blacklegged" alt="CDC reference to rodents being the primary vector of the deer tick">small mammal hosts</a> are found, so too is Lyme Disease.</p>
        </div>
        <div class="col-md-4">
            {% include "_underwriter.html" %}
        </div>
    </div>
    <hr>
    <div class="northern_new_england row">
        <div class="col-xs-12">
            <h3>Northern New England: From (Near) Zero To Endemic</h3>
            <div class="section_explanation">
                <p><strong>New Hampshire</strong> has been hit the  hardest in the last 14 years with the highest incident and growth rates of any state in the country, while <strong>Massachusetts</strong> has had by far the most cases each year in the region. <strong>Rhode Island</strong> was the only state in New England to see its growth rate go down and it has had the fewest cases of all the New England states.</p>
            </div>
            <div class="data_container row">
                <div class="chart_div col-md-6">
                    <h4 class="chart_label">Northern New England</h4>
                    <svg class="chart"></svg>
                    <div class="chart_prompt text-center">
                        <p class="choose_region">Choose A Region To Graph:</p>
                        <div class="chart_selector btn-group">
                            <button type="button" class="btn btn-default active">NNE</button>
                            <button type="button" class="btn btn-default">VT</button>
                            <button type="button" class="btn btn-default">NH</button>
                            <button type="button" class="btn btn-default">ME</button>
                            <button type="button" class="btn btn-default">MA</button>
                            <button type="button" class="btn btn-default">CT</button>
                            <button type="button" class="btn btn-default">RI</button>
                            <button type="button" class="btn btn-default">All</button>
                        </div>
                    </div>
                </div>
                <hr class="visible_touch">
                <div class="col-md-6">
                    <h4 class="table_label">New England Statistics</h4>
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <th>State</th>
                            <th>Incident Rate</th>
                            <th>Growth Rate</th>
                            <th>1999 Cases</th>
                            <th>2012 Cases</th>
                        </thead>
                        {% for row in summary_statistics %}
                        <tr>
                            <td>{{ row.0 }}</td>
                            <td>{{ row.1 }}</td>
                            <td>{{ row.2 }}</td>
                            <td>{{ row.3 }}</td>
                            <td>{{ row.4 }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <p class="table_disclaimer">*Reliable data from Connecticut prior to 2003 is not available.</p>
                    <div class="definitions">
                        <h5>Definitions</h5>
                        <h6>Incident Rate</h6>
                        <p class="definition">Confirmed cases per 100,000 population based on 2012 data</p>
                        <h6>Growth Rate</h6>
                        <p class="definition">The <a href="http://en.wikipedia.org/wiki/Exponential_growth" alt="definiton of exponential growth rate">exponential growth rate</a>. Connecticut's growth rate was found for 2003-2012, all other states from 1999-2012.</p>
                    </div>
                </div>
            </div>
            <p class="download_data"><a href="{{ url_for('static', filename='data/vpr-lyme-disease-new-england.csv' )}}" alt="CDC Lyme data by state">Download data for this section (CSV)</a></p>
        </div>
    </div>
    <hr>
    <div class="vermont row">
        <div class="col-xs-12">
            <h3>Vermont: Facing A New Reality</h3>
            <div class="section_explanation">
                <p>Vermont's total number of cases doesn't compare to some of its more populous neighbors, but with the <strong>third-highest incident and growth rates in the nation,</strong> Vermonters now need to be tick aware and learn both how to <a href="http://www.cdc.gov/Ticks/avoid/index.html">avoid being bitten</a> and <a href="http://digital.vpr.net/post/what-do-when-tick-bites" alt="VPR article explaining what to do when bitten by a tick">what to do in the event of a bite</a>.</p>
            </div>
        </div>
        <div class="col-xs-12">
            <h4 class="title">Probable Cases By County</h4>
            <img class="vt-small-mult img-responsive" src="{{ url_for('static', filename='img/vpr-lyme-by-county-vt.png') }}" alt="Lyme disease in vermont by county over time">
        <p class="data_disclaimer">*Data for 2013 is provisional</p>
        <p class="download_data"><a href="{{ url_for('static', filename='data/lyme-vt-counties.csv' )}}" alt="Vermont Department Of Health lyme data by county">Download data for this section (CSV)</a></p>
        </div>
    </div>
    <hr>
    <div class="row nation">
        <div class="col-xs-12">
            <h3>What About The Rest Of The Country?</h3>
            <div class="section_explanation">
                <p>Lyme Disease is largely restricted to the <strong>Northeast</strong>, the <strong>Mid-Atlantic</strong> and the <strong>Upper Midwest</strong>, with <a href="http://www.cdc.gov/Lyme/stats/" alt="Lyme Disease stats from the CDC">95 percent of cases coming from just 13 states</a>. <strong>Pennsylvania</strong> has the most cases every year&mdash;over 5,000 probable cases in 2012. Outside of the Northeast cluster, <strong>Wisconsin</strong> has the largest number of probable cases in 2012 with 1,766.</p>
                <p>While the deer tick's range extends into the <strong>South,</strong> Lyme Disease hasn't proliferated in the region the way that it has in the Northeast and Upper Midwest. This is due to the ticks' <a href="http://www.cdc.gov/ticks/geographic_distribution.html#blacklegged" alt="Explanation of disconnect between black legged ticks range and the Lyme Disease map">different feeding habits</a> in the southern part of their range.</p>
                <p>Since the data on reported cases is sourced by state of residence, not state of exposure, it is difficult to determine the exact origin of many of the cases but it is reasonable to assume that <a href="http://www.cdc.gov/lyme/stats/survfaq.html" alt="CDC note on data reliability">over-reporting occurs in the disease's non-endemic areas</a>, resulting in an inflated number of reported cases in places where the disease is less likely to be contracted, like the <strong>West</strong>.</p>
            </div>
            <div class="row">
                <h4 class="title">Confirmed Cases By County</h4>
                <div class="col-sm-6">
                    <img class="img-responsive" src="{{ url_for('static', filename='img/vpr-lyme-9296.png') }}" alt="Lyme Disease cases nationwide from 1992-1996">
                    <h4>1992-1996</h4>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive" src="{{ url_for('static', filename='img/vpr-lyme-9701.png') }}" alt="Lyme Disease cases nationwide from 1997-2001">
                    <h4>1997-2001</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-responsive" src="{{ url_for('static', filename='img/vpr-lyme-0206.png') }}" alt="Lyme Disease cases nationwide from 2002-2006">
                    <h4>2002-2006</h4>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive" src="{{ url_for('static', filename='img/vpr-lyme-0711.png') }}" alt="Lyme Disease cases nationwide from 2007-2011">
                    <h4>2007-2011</h4>
                </div>
            </div>
            <p class="download_data"><a href="{{ url_for('static', filename='data/lyme-disease-by-county.csv' )}}" alt="CDC lyme disease by county data">Download data for this section (CSV)</a></p>
        </div>
    </div>
    <hr>
    <div class="row data_disclaimer">
        <div class="col-xs-12">
            <h3>A Note About The Data</h3>
            <div class="section_explanation">
                <p>Due to reporting methods and the limitations of surveillance data, discrepancies between figures exist, even in this report.</p>
                <p>In the table of New England states, the number of cases in 2012 is reported as 386 while in the map of Vermont counties, the 2012 figure is listed as 367. The figure in the table represents the number of <em>confirmed</em> cases in Vermont, regardless of origin. In the map of Vermont, the figure used is the number of <em>confirmed and probable</em> cases of Vermont origin.</p>
                <p>Since more accurate information was available for Vermont, that data was used to provide the most accurate picture of Vermont's Lyme Disease statistics. The same data wasn't available for all New England states, so in comparing Vermont to the other New England states, the more general figures were used.</p>
                <p>For more on the complexities and limitations of this data, see <a href="http://www.cdc.gov/lyme/stats/survfaq.html" alt="CDC explanation of the limitations of surveillance data">this CDC explanation</a>.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/script.min.js') }}?ver=0.1"></script>
{% endblock %}
