<!DOCTYPE html>
<meta charset="utf-8">
<style>

.land {
  fill: #999;
}

.county-boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.state-boundary {
  fill: none;
  stroke: #fff;
}


</style>
<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/queue.v1.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="http://d3js.org/colorbrewer.v1.min.js"></script>

<script>

var width = 960,
    height = 500;

var projection = d3.geo.albersUsa()
    .scale(1000)
    .translate([width / 2, height / 2]);

var path = d3.geo.path()
    .projection(projection);

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);

d3.json("/static/data/us.json", function(error, us) {
    /*
    console.log("County:", data[2].CountyCode);
    console.log("jsonCounty:", us.objects.county.geometries[1].county);
    for (var i = 0; i < data.length; i++) {
        var county = data[i].CountyCode,
            range1 = data[i].county_9296,
            range2 = data[i].county_9701,
            range3 = data[i].county_0206,
            range4 = data[i].county_0711;

        for (var j = 0; j < us.objects.county.geometries.length; j++) {
            var jsonCounty = us.objects.county.geometries[j].id;

            if (county === jsonCounty) {
                us.objects.county.geometries[j].range1 = range1;
                break
            }
        }
    }
    */
  svg.insert("path", ".graticule")
      .datum(topojson.feature(us, us.objects.land))
      .attr("class", "land")
      .attr("d", path);

  svg.insert("path", ".graticule")
      .datum(topojson.mesh(us, us.objects.counties, function(a, b) { return a !== b && !(a.id / 1000 ^ b.id / 1000); }))
      .attr("class", "county-boundary")
      .attr("d", path);

  svg.insert("path", ".graticule")
      .datum(topojson.mesh(us, us.objects.states, function(a, b) { return a !== b; }))
      .attr("class", "state-boundary")
      .attr("d", path);
});

d3.select(self.frameElement).style("height", height + "px");

</script>
