<!DOCTYPE html>
<meta charset="utf-8">

<style>
    svg.map {
        font: 10px sans-serif;
        display: inline;
        padding-right: 20px;
        padding-left: 20px;
    }

    svg.legend {
        padding-left: 120px;
        margin-left: 27px;
    }

    text {
        fill: #999;
        font-family: Helvetica;
    }

    text.year {
        fill: #555;
        font-size: 36px;
    }

    text.case_number {
        font-size: 48px;
    }

    text.cases {
        font-size: 30px;
    }

    .county {
        stroke-width: 1px;
        stroke: #aaa;
    }
</style>

<body>
<div id="legend"></div>
<div id="maps"></div>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/queue.v1.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="http://d3js.org/colorbrewer.v1.min.js"></script>
<script>

var width = 200,
    height = 400;

var projection = d3.geo.transverseMercator()
    .rotate([72.57, -44.20])
    .translate([90,160])
    .scale([8000]);

var path = d3.geo.path()
    .projection(projection);


var mapColor = colorbrewer.Blues[9];

var quantize = d3.scale.quantize()
    .domain([0, 160])
    .range(mapColor.slice(1));

var years = ['1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
    '2007', '2008', '2009', '2010', '2011', '2012', '2013'];

var bins = ["No Cases", "1-19", "20-39", "40-59", "60-79", "80-99", "100-119", 
    "120-139", "140-159"];

var makeLegend = function() {
    var colors = ["#ccc"].concat(mapColor.slice(1));

    var legend = d3.select("#legend").append("svg")
        .attr("class", "legend")
        .attr("width", 1200)
        .attr("height", 100);

    var w = 60,
        h = 20;

    for (var i=0; i<colors.length; i++) {
        legend.append("rect")
            .attr("x", (i * (w + 60)) + 50)
            .attr("y", 10)
            .attr("width", w)
            .attr("height", h)
            .style("stroke-width", "2px")
            .style("stroke", "#bbb")
            .style("fill", colors[i]);

        legend.append("text")
            .attr("x", function() {
                if (i === 0) {
                    return i * (w + 60) + 20;
                } else if (i === 1) {
                    return i * (w + 60) + 53;
                } else if ([2,3,4,5].indexOf(i) !== -1) {
                    return i * (w + 60) + 48;
                } else {
                    return i * (w + 60) + 30;
                }
            })
            .attr("y", 60)
            .style("font-size", "26px")
            .style("fill", "#555")
            .text(bins[i]);

    }
};

makeLegend();

queue()
    .defer(d3.json, "static/data/vermont-counties.json")
    .defer(d3.csv, "static/data/lyme-vt-counties.csv")
    .await(ready);

// Load CSV
function ready(error, vt, data) {
    var vermont = topojson.feature(vt, vt.objects.counties);

    for (var j=0; j<years.length; j++) {
        var svg = d3.select("#maps").append("svg")
            .attr("class", "map")
            .attr("x", 350*j)
            .attr("width", width)
            .attr("height", height);

        svg.append("path")
            .datum(vermont)
            .attr("d", path)
            .attr("x", j*400)
            .style("stroke-width", "1");

        svg.append("text")
            .attr("x", 65)
            .attr("y", 30)
            .attr("class", "year")
            .text(years[j]);

        svg.append("text")
            .attr("x", 120)
            .attr("y", 335)
            .attr("class", "case_number")
            .text(function() {
                var total = 0;
                for (var i=0; i<data.length; i++) {
                    total += parseInt(data[i][years[j]]);
                }
                return total/2;
            });

        svg.append("text")
            .attr("x", 120)
            .attr("y", 365)
            .attr("class", "cases")
            .text("cases");


        svg.selectAll(".subunit")
            .data(topojson.feature(vt, vt.objects.counties).features)
        .enter().append("path")
            .attr("d", path)
            .attr("class", "county")
            .style("fill", function(d) {
                for (var i=0; i<data.length; i++) {
                    if (data[i].county.toUpperCase() === d.properties.county) {
                        var cases = data[i][years[j]];
                        if (cases > 0) {
                            return quantize(cases);
                        } else {
                            return "#ccc";
                        }
                    }
                }
                return "#aaa";
            });
    }

};


</script>
